
  /*--------- Правила тарифов старт -------------*/
  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.catalog__info {
    display: flex;
    align-items: flex-start;
}

.catalog__text {
    width: 759px;
    margin-right: 16px;
}

.catalog__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.catalog__text p:not(:last-child) {
  margin-bottom: 12px;
}

.course-price {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    border-left: 1px solid $clrGray;

    &__title_desc {
      display: flex;
      flex-direction: column;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &__title_mobile {
      display: none;
      margin: 0px auto;

      @media (max-width: 767px) {
        display: flex;
        flex-direction: row;
      }

      @media (max-width: 540px) {
        margin: 0px;
      }
    }
}

.course-price .time_title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.course-price .time {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 12px;
}

.course-price .price {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 3px;
  margin-top: -3px;
  white-space: nowrap;
}

.course-price .choose-course button {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: $clrBtnMain;
  text-decoration: underline 1px $clrBtnMain;
  text-underline-offset: 6px;

  &:hover {
    transition: all 0.3s ease;
    color: $clrBtnMainHover;
    text-decoration: 1px underline $clrBtnMainHover;
  }
}

.panel {
    padding: 16px 24px;
    background: #EFF8FC;
    border-radius: 8px;
    margin-top: 24px;
    min-height: 72px;
    max-width: 1000px;

    @media (max-width: 540px) {
      padding: 16px;
      margin-top: 16px;
    }
}

.panel_desc {
  @media (max-width: 540px) {
    display: none;
  }
}
.panel_mobile {
  display: none;
  @media (max-width: 540px) {
    display: block;
  }
}

.panel p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;

  @media (max-width: 540px) {
    text-align: center;
    font-size: 16px;
    line-height: 125%;
  }
}

.catalog__title {
  margin-bottom: 24px;

  @media (max-width: 540px) {
    margin-bottom: 17px;
  }
}

.catalog__cart {
  position: sticky;
  top: 160px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px 24px;
  min-width: 276px;
  max-width: 276px;
  //height: 380px;
  background: #F0F0F0;
  border-radius: 8px;
  margin-left: 64px;

  @media (max-width: 1320px) {
    display: none;
  }
}

.catalog__cart .total-price__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
}

.catalog__cart .total-price__sum {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.count-courses {
  display: flex;
}

.count-courses img {
  margin-right: 10px;
}

.total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cart-is-empty {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cart-item:first-child {
  margin-top: 18px;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart-item .cart-item__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.cart-item .cart-item__total {  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.cart-item__btn-close {
  padding-top: 2px;
}

.img-close {
  cursor: pointer;
}

.img-close:hover {
  transition: all 0.3s ease;
  stroke: #FF2C38;
}

.img-close:focus {
  transition: all 0.3s ease;
  stroke: #B1141D;
}

.do-order {
  display: block;
  width: 100%;

  button {
    font-size: 16px;
    width: 100%;
  }
}


/*--------- Правила тарифов конец -------------*/