 /*--------- Каталог начало -------------*/
 .catalog-courses {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__title {
      margin-bottom: 6px;

      @media (max-width: 540px) {
        margin-bottom: 0px;
      }
    }

    .catalog__cart {
      margin-top: 18px;
    }
  }
  
  .column {
    width: 1000px !important;
  }
  
  .column-block {
    border: 1px solid $clrGray;
    border-radius: 8px;
    padding: 24px 24px 32px;
    margin-top: 24px;

    &__title {
      margin-bottom: 8px;
    }

    @media (max-width: 540px) {
      padding: 16px;
    }
  }
  
  .column-block__item:not(:last-child) {
    margin-bottom: 28px;
  }
  
  .name-course {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 8px;
  }
  
  .special {
    display: flex;
    margin-left: 16px;
  }
  
  .name-course a {
    text-decoration: 1px underline $clrBlack;
    text-underline-offset: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 8px;

    @media (max-width: 540px) {
      font-size: 20px;
    }
  }
  
  .name-course a:hover {
    text-decoration: 1px underline $clrBtnMainHover;
  }
  
  .info-course .price {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-right: 10px;

    @media (max-width: 540px) {
      font-size: 24px;
    }
  }
  
  .info-course .select-course {
    cursor: pointer;
    color: $clrBtnMain;
    text-decoration: 1px underline $clrBtnMain;
    text-underline-offset: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    &:hover {
      transition: all 0.3s ease;
      color: $clrBtnMainHover;
      text-decoration: 1px underline $clrBtnMainHover;
    }

    @media (max-width: 540px) {
      font-size: 20px;
    }
  }
  /*--------- Каталог конец -------------*/
  