/*--------- COURSE START -------------*/
.about-course {
    margin-bottom: 45px;

    .course-banner {
      height: 384px;

      img {
        height: 100%;
      }
    }
  }
  
  .about-course .title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 24px;
  }
  
  .about-course__text * {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .about-course__text p {
    padding-top: 2px;
  }

  .about-course__text span {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .about-course__text ul {
    margin-left: 10px;
    padding-top: 4px;
  }
  
  .about-course__info {
    display: grid;
    grid-template-columns: 888px 1fr;
    justify-content: flex-end;
  }
  
  .about-course__info li {
    margin-bottom: 8px;
  }
  
  .about-course__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;

    button {
      width: 216px;
      height: 46px;
      font-size: 16px;
      margin-top: -6px;
      margin-left: 2px;
    }
  }
  
  .about-course__link img {
    width: 216px;
    height: 150px;
    margin-bottom: 27px;
  }
  /*--------- COURSE END -------------*/
  