.feedback-success {
    position: absolute;
    margin-left: -2px;
    width: 665px;
    height: 500px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

    @media (max-width: 1280px) {
        height: 620px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 930px) {
            width: 100%;
            margin-top: 80px;
        }
    }

    img {
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 8px;
        text-align: center;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        max-width: 600px;
        text-align: center;
        margin-bottom: 16px;
    }

    &__close {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: $clrBtnMain; 
    }

    @media (max-width: 1440px) {
        width: 705px;
    }

    @media (max-width: 1280px) {
        width: calc(110%);
    }

    @media (max-width: 930px) {
        width: calc(102%);
        height: 102% !important;
        height: 380px;
        align-items: flex-start;
    }
}

.feedback-sucess__close {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $clrBtnMain; 
    border-bottom: 1px dashed rgba($clrBtnMain, 0.3);
}